<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="">Home</a>
    {% if user.is_authenticated %} 
        <a class="flex-sm-fill text-sm-center nav-link active" href="logout">Log Out</a>
        <a class="navbar-brand flex-sm-fill text-sm-center nav-link" href="#">{{user.username}}</a>
    {% else %}
        <a class="flex-sm-fill text-sm-center nav-link active" href="login">Login</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="register"> Register</a>
    {% endif %}
</nav>

