{% extends 'base.html' %}

{% block  content %}
    <h2 class="welcome">Welcome {{username}}</h2>

    <div class="paragraph">
        <p>
            I have been looking further into Django. How the framework works and what I can compare it to.
            Right away, I find the most common similarity that I am familiar with, is React.js.
            Although the folder and file structures are vastly different, they seem to function in the same manner. 
        </p>
    
        <p>
            React and Django really share a lot, not in syntax, but in how the frameworks function. 
            I was immediately fired, as soon as I learned how to use html in unison with python.
        </p>
    </div>



{% endblock %}