* {
    margin: 0;
}

body {background-color: rgba(202, 199, 199, 0.664);}

.name-form {
    text-align: center;
    width: 250px;
    margin:  100px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 5px 9px black;
}

.input {
    margin: 15px;
    color: rgba(13, 13, 165, 0.582);
}

.welcome {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgba(20, 9, 9, 0.76);
    text-align: center;
}

p {
    margin-top: 20px;
    font-size: 25px;
    text-shadow: 0px 2px 4px dodgerblue;
}

.paragraph {
    margin: auto;
    width: 600px;
    border: 1px solid rgba(82, 129, 167, 0.411);
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(82, 129, 167, 0.411);
    box-shadow: 5px 5px 6px black;
}